<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lisa.challenge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.lisa.challenge.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HighJump"
            android:label="Hochsprung"
            android:parentActivityName="com.example.lisa.challenge.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lisa.challenge.MainActivity" />
        </activity>
        <activity
            android:name=".BroadJump"
            android:label="Weitsprung"
            android:parentActivityName="com.example.lisa.challenge.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lisa.challenge.MainActivity" />
        </activity>
        <activity
            android:name=".Rotate"
            android:label="Drehen"
            android:parentActivityName="com.example.lisa.challenge.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lisa.challenge.MainActivity" />
        </activity>
        <activity
            android:name=".LineChart"
            android:label="LineChart"
            android:parentActivityName="com.example.lisa.challenge.HighJump">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lisa.challenge.HighJump" />
        </activity>
    </application>

</manifest>